@media (max-width: 320px){

    main{
        section{
            div{
                p{
                    color: white;
                    font-size: 8px;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }
    }

    .navbar{
        li{
            a{
                font-size: 8px;
            }
        }
        
    }
    h1{
        font-size: 15px;
        padding: 0;
        padding-top: 10px;
    }


    .parrilla{
        width: 30%;
    }
    .dyc{
        font-size: 8px;
    }
    .map{
        height: 45px;
    }

    .sugerencias{
        div{
            h2{
                font-size: 15px;
            }
        }
    }

    main{
        section{
            h2{
                font-size: 15px;
            }
        }
    }

    .ingredientes{
        color: white;
        font-size: 8px;
    }

    .logo {
        width: 15%;
        padding-bottom: 5px;
    }
}